
@model P7.RestHook.ClientManagement.Models.HookUserClientRecord



@if (Model?.Client?.ClientId != null)
{
    var returnUrl = $"/RestHook?clientId={Model.Client.ClientId}";
    var hrefAddNewCallbackUrl = $"/RestHook/NewCallbackUrl/{Model.Client.ClientId}?newCallbackUrlReturnUrl={returnUrl}";
                  
    <div class="row">
    <table id="user" class="table table-bordered table-striped" style="clear: both">
     
        <tbody>
        <tr>
            <td width="35%">ClientId</td>
            <td width="65%">
                @Model.Client.ClientId
            </td>
        </tr>
        <tr>
            <td width="35%">Description</td>
            <td width="65%">
                <a href="#" id="description" data-type="text" data-value="" 
                   data-placement="right" data-title="Description">@Model.Client.Description</a>
            </td>
        </tr>
        <tr>
            <td width="35%">
                 
                Callback Urls
            </td>
            <td width="65%">
                <table id="callbackUrls" class="table table-bordered table-striped" style="clear: both">
                    <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Callback URL</th>
                        <th scope="col">Validated</th>
                        <th scope="col">...</th>
                    </tr>
                    </thead>
                    <tbody>
 
                    @foreach (var hookRecord in Model.Client.HookRecords)
                    {
                        <tr>
                            <td>@hookRecord.EventName</td>
                            <td>@hookRecord.CallbackUrl</td>
                            <td>@hookRecord.ValidatedCallbackUrl</td>
                            <td> <a asp-page="./DeleteCallbackUrl" 
                                    asp-route-clientId="@hookRecord.ClientId" 
                                    asp-route-callBackUrlId="@hookRecord.Id">Delete</a></td>
                           
                        </tr>
                    }
                    </tbody>
                      
                </table>

            </td>
        </tr>
        </tbody>
        </table>                       
        <a href="@hrefAddNewCallbackUrl" class="btn btn-default">New Callback Url</a>

    </div>
}

